body, html {
    margin:0;
    height: 100%;
}

.images{
   height: 20%;
   width:  20%;
   margin: 10px 10px;
   flex-grow: 0;
}

.FlexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#text1,#text2, #text3, #text4 {
    width: calc(80%/4);
    text-align: center;
    margin:0 10px;
}

.Text {
   margin: 10px 0px;
   display:flex;
   flex-direction: row;
   flex-grow: 1;
   top:50%;
   text-shadow: 5px 5px 5px grey;
  
}

.images:hover{
   opacity: 0.3;
   border-radius:25px;
   box-shadow: 5px 5px 5px orangered;
   justify-content: space-between;
}


