body {
    width:500px;
}
input {
    width: 100%;
    height: 30px;
    
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#paintingArea{    
    border: 2px solid;    
    width: 250px;
    height: 100px;

}
h5 {
    margin: 0;    
    position: relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    
}
.style1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight:bold;

}

.style2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}